@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #FAF4F2;
  font-family: "Poppins", serif;
}
.width-1140{
  width: 1140px;
  margin: 0 auto;
  padding-top: 100px;
}
/*----------Main(I'm Mohammad Reza)--------*/
main{
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  width: 475px;
  color: #222;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 62px;
  margin: 12px 201px 7px 32px;
}
.main__Mohammad__Reza p{
  width: 509px;
  color: #222;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 0 167px 54px 32px;
}
.main__Mohammad__Reza img{
  width: 240px;
  height: 48px;
  flex-shrink: 0;
  margin-left: 32px;
}
.main__buttons button:first-child{
  width: 151px;
  height: 55px;
  flex-shrink: 0;
  border: none;
  border-radius: 10px;
  background: #FF2950;
  color: #F9F9F9;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 17px 30px 0 34px;
}
.main__buttons button:last-child{
  width: 153px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 2px solid #FF9B70;
  color: rgba(34, 34, 34, 0.50);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

}
.main__photo__Mohammad__Reza{
  width: 406px;
  height: 406px;
  flex-shrink: 0;
  margin: 0 26px 63px 0;
}
/*----------------section 120+ Completed Projects---------------------*/
.section__Completed__Projects{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap:32px;
  margin: 125px 0;
  width: 1140px;
  height: 519px;
  flex-shrink: 0;
  border-radius: 35px;
  background: #FF7315;
}
.section__Completed__Projects div h2:first-child{
  color: #F9F9F9;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 62px;
}
.section__Completed__Projects div h2:nth-child(2){
  color: #F9F9F9;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}
.section__Completed__Projects div h3{
  color: #F9F9F9;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 62px;
}
.section__Completed__Projects div p{
  width: 570px;
  color: #F9F9F9;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
}
/*-------section__Why__Hire__me?*/
.title__Why__Hire__me {
  color: #222;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 62px;
  margin-bottom: 100px;
}
.section__Why__Hire__me{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;

}
.section__Why__Hire__me div{
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}
.section__Why__Hire__me div div{
  width: 98px;
  height: 98px;
  border-radius: 50%;
  background: rgba(34, 34, 34, 0.10);
 }
.section__Why__Hire__me div h3{
  color: #222;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  margin-top: 51px;
  margin-bottom: 12px;
}
.section__Why__Hire__me div p{
  width: 240px;
  color: rgba(34, 34, 34, 0.50);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
/*----Section Portfolio----------*/
.title__Portfolio{
  color: #222;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 123.6%;
  text-transform: capitalize;
  margin-top: 125px;
  margin-bottom: 64px;
}
.section__Portfolio-grid{
  display: grid;
  margin: 0 81px;
  gap: 24px;
  grid-template-columns: repeat(3,310px);
  grid-template-rows: repeat(3,300px);
  grid-template-areas:
    "website-Start__your__Business  company-postcard pages"
"pizzeria__brochure logo__Mockup Mockup__postcards";
}
.section__Portfolio-grid img:nth-child(1){
  grid-area: website-Start__your__Business;
}
.section__Portfolio-grid img:nth-child(2){
  grid-area: company-postcard;
}
.section__Portfolio-grid img:nth-child(3){
  grid-area: pages;
}
.section__Portfolio-grid img:nth-child(4){
  grid-area: pizzeria__brochure;
}
.section__Portfolio-grid img:nth-child(5){
  grid-area: logo__Mockup;
}
.section__Portfolio-grid img:nth-child(6){
  grid-area:Mockup__postcards;
}
